$textFont: 'Roboto', sans-serif;
$textLightColor: #ffffff;
$textDarkColor: #000000;

$textColorFooter: #545454;
$backgroundColorFooter: #f7f7f7;
$backgroundColorFooterDark: #0b0c0f;

$accentColor: #ff6b08;

$backgroundColorLight: #ffffff;
$backgroundColorDark: #292c35;
