<ul class="film">
    <li class="film-items">
        <div class="card-films">
            <img class="poster" src="./img/moon.jpg" alt="постер">
                <p class="film-name">A FISTFUL OF LEAD</p>
                <div class="film-thumb">
                    <p class="film-details">
                        <span class="films-options">Sci-Fi, Action, Thriller</span>
                         |
                        <span class="date-releaze">1992</span> 
                        <span class="rating" >10.0</span>
                    </p>

                </div>
        </div>
    </li>
    <li class="film-items">
        <div class="card-films">
            <img class="poster" src="./img/moon.jpg" alt="постер">
                <p class="film-name">A FISTFUL OF LEAD</p>
                <div class="film-thumb">
                    <p class="film-details">
                        <span class="films-options">Sci-Fi, Action, Thriller</span>
                         |
                        <span class="date-releaze">1992</span> 
                        <span class="rating" >10.0</span>
                    </p>

                </div>
        </div>
    </li>
    <li class="film-items">
        <div class="card-films">
            <img class="poster" src="./img/moon.jpg" alt="постер">
                <p class="film-name">A FISTFUL OF LEAD</p>
                <div class="film-thumb">
                    <p class="film-details">
                        <span class="films-options">Sci-Fi, Action, Thriller</span>
                         |
                        <span class="date-releaze">1992</span> 
                        <span class="rating" >10.0</span>
                    </p>

                </div>
        </div>
    </li>
    <li class="film-items">
        <div class="card-films">
            <img class="poster" src="./img/moon.jpg" alt="постер">
                <p class="film-name">A FISTFUL OF LEAD</p>
                <div class="film-thumb">
                    <p class="film-details">
                        <span class="films-options">Sci-Fi, Action, Thriller</span>
                         |
                        <span class="date-releaze">1992</span> 
                        <span class="rating" >10.0</span>
                    </p>

                </div>
        </div>
    </li>
    <li class="film-items">
        <div class="card-films">
            <img class="poster" src="./img/moon.jpg" alt="постер">
                <p class="film-name">A FISTFUL OF LEAD</p>
                <div class="film-thumb">
                    <p class="film-details">
                        <span class="films-options">Sci-Fi, Action, Thriller</span>
                         |
                        <span class="date-releaze">1992</span> 
                        <span class="rating" >10.0</span>
                    </p>

                </div>
        </div>
    </li>
</ul>