<header class="lib-header-container">
  <div class="page-header js-page-header container">
    <div class="nav-header">
      <a href="./index.html" class="logo-link"></a>
      <nav class="site-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link current-link" href="./library.html">my library</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="list-button">
      <button class="button-library js-button-library-watched">Watched</button>
      <button class="button-library js-button-library-queue">queue</button>
    </div>
    
<!-- THEME SWITCHER -->
    <div class="theme-switcher">
      <input type="checkbox" class="checkbox-theme-switcher" id="checkbox-theme-switcher">
      <label for="checkbox-theme-switcher" class="label-theme-switcher">
        <svg class="icon-moon" width="24" height="24">
          <use href="./img/sprite.svg#icon-moon"></use>
        </svg>
        <svg class="icon-sun" width="24" height="24">
          <use href="./img/sprite.svg#icon-sun"></use>
        </svg>
        <div class="ball-switcher"></div>
      </label>
    </div>
  </div>
</header>
