<div class="backdrop is-hidden" data-modal>
  <div class="modal-students">
    <ul class="students-list">
      <li class="students-item">
        <img class="students-photo" src="https://picsum.photos/200/200" alt="" />
        <p class="students-name">Kvitkovsky Maxim</p>
        <a class="students-linkedin link" href="https://www.linkedin.com/in/kvitkovskymaxim/" target="_blank"
          >LinkedIn</a
        >
        <a class="students-github link" href="https://github.com/kvitkovsky1302 target="_blank"">GitHub</a>
      </li>
      <li class="students-item">
        <img class="students-photo" src="https://picsum.photos/200/200" alt="" />
        <p class="students-name">Name</p>
        <a class="students-linkedin link" href="" target="_blank"></a>
        <a class="students-github link" href="" target="_blank"></a>
      </li>
      <li class="students-item">
        <img class="students-photo" src="https://picsum.photos/200/200" alt="" />
        <p class="students-name">Name</p>
        <a class="students-linkedin link" href="" target="_blank"></a>
        <a class="students-github link" href="" target="_blank"></a>
      </li>
      <li class="students-item">
        <img class="students-photo" src="https://picsum.photos/200/200" alt="" />
        <p class="students-name">Name</p>
        <a class="students-linkedin link" href="" target="_blank"></a>
        <a class="students-github link" href="" target="_blank"></a>
      </li>
      <li class="students-item">
        <img class="students-photo" src="https://picsum.photos/200/200" alt="" />
        <p class="students-name">Name</p>
        <a class="students-linkedin link" href="" target="_blank"></a>
        <a class="students-github link" href="" target="_blank"></a>
      </li>
      <li class="students-item">
        <img class="students-photo" src="https://picsum.photos/200/200" alt="" />
        <p class="students-name">Name</p>
        <a class="students-linkedin link" href="" target="_blank"></a>
        <a class="students-github link" href="" target="_blank"></a>
      </li>
      <li class="students-item">
        <img class="students-photo" src="https://picsum.photos/200/200" alt="" />
        <p class="students-name">Name</p>
        <a class="students-linkedin link" href="" target="_blank"></a>
        <a class="students-github link" href="" target="_blank"></a>
      </li>
      <li class="students-item">
        <img class="students-photo" src="https://picsum.photos/200/200" alt="" />
        <p class="students-name">Name</p>
        <a class="students-linkedin link" href="" target="_blank"></a>
        <a class="students-github link" href="" target="_blank"></a>
      </li>
      <li class="students-item">
        <img class="students-photo" src="https://picsum.photos/200/200" alt="" />
        <p class="students-name">Name</p>
        <a class="students-linkedin link" href="" target="_blank"></a>
        <a class="students-github link" href="" target="_blank"></a>
      </li>
    </ul>
  </div>
</div>
