a {
  text-decoration: none;
}

.header-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../img/header-library/rectanglem.jpg');

  @media screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../img/header-library/rectanglem@2x.jpg');
  }

  @media screen and (min-width: 768px) {

    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../img/header-library/rectanglet.jpg');

    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../img/header-library/rectanglet@2x.jpg');
    }
  }

  @media screen and (min-width: 1024px) {

    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../img/header-library/rectangle.jpg');

    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../img/header-library/rectangle@2x.jpg');
    }
  }
}

.page-header {
  height: 230px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.icon-film {
  margin-top: 46px;
  margin-right: 10px;
}

.logo-header {
  display: none;
  margin-top: 41px;
  width: 141px;
  height: 35px;
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .logo-header {
    display: inline-block;
    font-weight: 500;
    color: #ffffff;
    font-size: 30px;
    line-height: 1.7;
  }
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-top: 58px;
  margin-left: auto;
}

.nav-item {
  position: relative;

  &:not(:first-child) {
    margin-left: 40px;
  }
}

.nav-link {
  padding: 10px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  color: #ffffff;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
}

.current-link {
  &::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #ff6b08;
    display: block;
    border-radius: 2px;
    position: absolute;
    opacity: 1;
  }
}

.list-button {
  display: flex;
  margin-top: 49px;
  justify-content: center;
}

.button-library {
  width: 130px;
  height: 44px;
  color: #ffffff;
  background-color: Transparent;
  border-color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 136px;
  }

  &:hover,
  &:focus,
  &.focus {
    background-color: #ff6b01;
    border: none;
  }
}

.button-library:not(:last-child) {
  margin-right: 15px;
}
