.films-container {
  flex: 1 0 auto;
}

.load-more-btn {
  display: block;
  width: 110px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;

  background-color: $accentColor;
  border: 1px solid $backgroundColorLight;
  text-transform: uppercase;
  font-family: Roboto;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  color: $textLightColor;

  &:hover {
    background-color: $backgroundColorLight;
    border: 1px solid $accentColor;
    color: $accentColor;
  }
}

.background-image-watched {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 300px;
  background-image: url('../img/library-watched.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.background-image-queue {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 300px;
  background-image: url('../img/library-queue.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.film-list__box-info-title {
  margin: 10px 0 10px 0;
  text-align: left;
}
